






.first-hd{
    line-height: 23px;

}





.second-box{
    background-color: #57a2e9;
}

.third-box{
    background-color: #35e4aa;
}

.content-one{
    height: 50vh;
    
}

.content-two-three{
    height: 135px;
    line-height: 20px;
}






/* side bar */

.first-sidebar{
   
    background-color: #3e6786;
    color: white;
    line-height: 10px;
    padding-top: 150px;
    
     
}

.last-sidebar{
    background-color: #3e6786;
    line-height: 25px;
    padding-top:80px;
}

.header{
    line-height: 130px;
}




















